@model InventTool.BL.Ubicacion
@{
    ViewBag.Title = "Eliminar";
}

<h2></h2>

<b style="font-size: large"> ¿Esta seguro que quiere eliminar esta ubicacion?</b>
<p>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br >

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default btn-sm" , style="color: #3366BB;" />
        </div>
        <p class="btn btn-default btn-sm" , style="color: #3366BB;" >
            @Html.ActionLink("Regresar a la lista", "Index")
        </p>
    }
