
@{
    ViewBag.Title = "Index";
}
<b style="font-size  : 60px">Inventario de Herramental Tooling</b>
<br>
<br>

<div>
    <img src="~/Imagenes/Portada.jfif" style="width:80%; height:auto;" alt="InventTool" />
</div>

