
@{
    ViewBag.Title = "Index";
}

<h2>Inventario de Herramental Tooling</h2>

<div>
    <img src="~/Imagenes/Portada.jfif" style="width:100%; height:auto;" alt="InventTool" aligth="center"/>
</div>

